<!-- main.ejs -->
<section class="main-section">
  
  <div class="video-background">
    <video autoplay muted loop id="myVideo">
        <source src="https://pc.rod-ins.com/resource/web/arizona/video/web_1.mp4" type="video/mp4">
    </video>
</div>
  <div class="container">
    <div class="main-content">
      <h1 class="main-title">ARMZON RP</h1>
      <p class="main-description">
        Ролевая игра, где ты решаешь, как быть одинокой или лидером, героям или течевым боссом. 
        Проклинайся, собирай команду и строй репутацию. Присоединяйся к миллионам и заберу себя.
      </p>
      
      <div class="main-buttons">
        <a href="/play" class="main-btn play-btn">ИГРАТЬ</a>
        <a href="/about" class="main-btn more-btn">СМОТРИ БОЛЬШЕ</a>
      </div>
    </div>
  </div>
</section>